---
import CardSvg from "@components/CardSvg.astro";
import CardRaster from "@components/CardRaster.astro";
export interface Props {
  service: string;
  gamertag?: string;
  description?: string;
  svg: string;
  svgbackground?: string;
  buttonhref?: string;
  buttonsuffix?: string;
  buttontarget?: string;
  buttonrel?: string;
  filetype?: string;
}

const {
  service,
  gamertag = false,
  description = false,
  svg,
  svgbackground = "#000",
  buttonhref = false,
  buttonsuffix = "Profile",
  buttontarget = "_self",
  buttonrel = "noopener",
  filetype = "svg",
} = Astro.props;

const { default: arrow } = await import("../images/arrow-right.svg?raw");

const filetypes = [filetype];
const isSvg = filetypes.filter((item) => item === "svg");
const isPng = filetypes.filter((item) => item === "png");
const isWebp = filetypes.filter((item) => item === "webp");
const isAvif = filetypes.filter((item) => item === "avif");
---

<div class="card">
  {isSvg.map((item) => <CardSvg svg={svg} svgbackground={svgbackground} />)}
  {
    isPng.map((item) => (
      <CardRaster src={svg} svgbackground={svgbackground} filetype={filetype} />
    ))
  }
  {
    isWebp.map((item) => (
      <CardRaster src={svg} svgbackground={svgbackground} filetype={filetype} />
    ))
  }
  {
    isAvif.map((item) => (
      <CardRaster src={svg} svgbackground={svgbackground} filetype={filetype} />
    ))
  }

  <h2>
    {service}{gamertag && <span>: {gamertag}</span>}
  </h2>
  <p>
    {description && <span>{description}</span>}
  </p>
  {
    buttonhref && (
      <a class="button" target={buttontarget} rel={buttonrel} href={buttonhref}>
        {service} {buttonsuffix}
        <span set:html={arrow} />
      </a>
    )
  }
</div>

<style>
  .card {
    background: var(--color-gray-700);
    color: var(--color-gray-100);
    -webkit-box-shadow:
      0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0 1px 8px 0 rgba(0, 0, 0, 0.12);
    box-shadow:
      0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0 1px 8px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
  }
  .card p {
    letter-spacing: 0.45px;
    margin-bottom: 4em;
  }
  .card h2,
  .card p {
    padding: 0 10px;
    font-weight: 300;
  }
  .card a.button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
