---
import { ViewTransitions } from 'astro:transitions';

import '@styles/main.css';

import Header from '@components/Header.astro';
import MainMenu from '@components/MainMenu.astro';
import Footer from '@components/Footer.astro';

const appleTouchIconUrl = new URL('/apple-touch-icon.png', Astro.url);
const favicon32Url = new URL('/favicon-32x32.png', Astro.url);
const favicon16Url = new URL('/favicon-16x16.png', Astro.url);
const manifestUrl = new URL('/manifest.json', Astro.url);
const maskIconUrl = new URL('/safari-pinned-tab.svg', Astro.url);

export interface Props {
  title: string;
  description: string;
  heading: string;
  subheading: string;
  minimal?: string;
}

const { title, description, heading, subheading, minimal } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIconUrl} />
    <link rel="icon" type="image/png" sizes="32x32" href={favicon32Url} />
    <link rel="icon" type="image/png" sizes="16x16" href={favicon16Url} />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href={manifestUrl} />
    <link rel="mask-icon" href={maskIconUrl} color="#5bbad5" />
    <meta name="theme-color" content="#fff" />

    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <div class="container" id="home">
      <MainMenu />
      <Header
        heading={heading}
        subheading={subheading}
        minimal={minimal}
        transition:persist="header"
      />
      <slot />
      <Footer />
    </div>
    <script>
      window.addEventListener(
        'scroll',
        () => {
          var percentage =
            window.pageYOffset / document.querySelector('header').offsetHeight;

          if (percentage > 0.99999) {
            percentage = 0.99999;
          }

          document.body.style.setProperty('--scroll', percentage);
        },
        false
      );
    </script>
  </body>
</html>
